
.background-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3A4965;
}
.table-part{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
    width: 1143px;
    height: 684px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
}
table{
    background: #FAFAFA;
}
.tbody>tr:nth-child(even){
    background: #E3E3E3;
}
.tbody>tr:nth-child(odd){
    background: #F2F2F2;
}
col{
    border: 1px solid #EEEEEE;
}
th{
    text-align: center;
    vertical-align: middle;
    width: 280px;
    height: 72px;
    font-size: 30px;
}
td{
    text-align: center;
    vertical-align: middle;
    width: 280px;
    height: 72px;
    font-size: 16px;
}
.name-table{
    font-weight: bold;
    font-size: 18px;
}
.name-table>span{
    font-weight: bold;
    font-size: 30px;
}
.buy-now{
    width: 195px;
    height: 52px;
    background: #484848;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 7px;
}
.green{
    background: #89C331;
    color: #FFFFFF;
    font-weight: bold;
}
.pink{
    background:#F04A56;
    color: #FFFFFF;
    font-weight: bold;
}
.blue{
    background:#20807C;
    color: #FFFFFF;
    font-weight: bold
}
i{
    padding-right: 5px;
    color: #848484;
}
.money {
    color: #484848;
    font-weight: bold;
    font-size: 60px;
    padding-left: 32px; 
     display: flex;
    height: 89px;
    padding-top: 15px;
}
.per-month{
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}
.per-month>span{
    font-weight: normal;
    font-size: 16px;
    display: block;
}
.button-greey{
     box-shadow: inset 0 -9px #404040;
}
.button-green{
     box-shadow: inset 0 -9px #79B027;
}
.button-pink{
     box-shadow: inset 0 -9px #DF3A46;
}
.button-blue{
    box-shadow: inset 0 -9px #16736F;
}