body{
    height: 100vh;
    width: 100vh;
    background-color: black;
}
.main{
    width: 100vw;
    height: 100vh;
transform: perspective(300px) rotateX(25deg);
transform-origin: 50% 100%;
}
.text{
    width: 1280px;
    height: 50em;
position: absolute;
top: 100%;
animation: slide 30s linear;
animation-iteration-count: infinite;
color: yellow;
background-color: black;
}
.text>h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}
.text>h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}
.text>p{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}
@keyframes slide{
    0%{
        top: 100%;
    }
    100%{
        top: -100%;
    }
}