body{
color: white;
font-family: 'Roboto', sans-serif;
background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: inherit;
}
.background{
    background: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;

}
.logo  {
    display: block;
    font-style: normal;
    font-weight: bold;
    padding-top: 59px;
    margin-left: 151px;
}
.logo p{
    background: url(../img/logo\ 3.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 53px;
    height: 47px;
    padding-right: 8px;
    margin: 0;
}
.logo h1{
    font-size: 29px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}
.logo h2{
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}
.logo:hover {
    color: #F26522;
}
.logo p:hover{
    background: url(../img/logo\ 2.png);
    background-repeat: no-repeat;
}
.mail{
    float: right;
    font-size: 18px;
    margin-right: 151px;
    padding-top: 55px;
    line-height: 21px;
    text-align: right;
} 
.mail:hover{
    color: #F26522;
    text-align: left;
}
.mail a {
    display: block;
    margin-bottom: 11px;
}
.gallery{
    display: block;
    margin-left: 158px;
    width: 1067px;
    height: 581px;
    box-sizing: border-box;
}
.gallery figure{
    margin: 0;
}
.gallery a{
    float: left;
    margin-right: 57px;
    margin-top: 40px;
}
.gallery figcaption{
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-top: 16px;
}
.gallery figcaption:hover{
    color: #F26522;
}
footer{
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 15px;
}
