body{
    font-family: 'Roboto', sans-serif;
}
.all{
    width: 1280px;
}
.Ramda {
    color: rgb(0, 195, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    margin-top: 61px;
}
.Ramda b {
    color: black;
}
.menutop ul{
    background-color:#35444F;
    padding: 25px 38px;
    text-align: center;
}
.menutop ul li {
    
    display:inline;
    font-size: 24px;
    line-height: 28px;
    padding: 25px 38px;
}
.menutop ul li a{
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}
#ram{
    border: 1px solid white;
    background-color: #222F3A;
    padding: 25px 38px;
}
.menutop ul li:hover{
    background: #DBDBDB;
}
#ram:hover  {
    background: #DBDBDB;
}
.menupage {
    padding: 0;
}
.menupage ul{
    margin-top: 0;
    padding-left: 44px;
    /*margin-right: 20px;*/
    list-style: none;
    border: 1px solid #000000 ;
    width: 300px;
    height: 399px;
    padding: 0;
}
.menupage ul li{
    font-size: 26.9932px;
    line-height: 80px;
    padding-left: 44px;
}
.menupage ul li a{
    text-decoration: none;
}
.menupage ul li:hover{
    background: #DBDBDB;
}
.content {
    text-align: left;
}
.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
}
.text{
    font-size: 18px;
    line-height: 24px;
    width: 885px;
    color: #2C2C2C;
}
.menubottom {
    background-color: rgba(99, 105, 110, 0.48);
}
.menubottom ul{
    list-style: none;
    padding: 0 43px;
}
.menubottom ul li{
    display: inline;
    }
.menubottom ul li a{
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    line-height: 90px;
    padding-right: 20px;
}
.menubottom p{
    margin: 0;
    margin-right: 15px;
    float: right;
    font-size: 24px;
    line-height: 90px;
}
.menubottom ul li a:hover {
    color: blue;
    text-decoration: underline;
}
.picture img {
    transition: 1s; 
}
.picture img:hover {
    transform: scale(1.2); 
}