body{
    font-family: 'Open Sans', sans-serif;
}
*::before,
*::after{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
    height: 70px;
}
.top-menu{
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}
.top-menu>li{
    margin-right: 27px;
}
.look-glass{
    background: #000000;
    height: 100%;
    width: 68px;
}
.look-glass>i{
    color: #ffffff;
}
.logo{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    margin-left: 33px;
}
.logo::before{
    content: url(../img/logo-img\ 1.png);
    vertical-align: middle;
    padding-right: 12px;
}
.The-latest-news{
    height: 374px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;

    /* The image used */
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");

    /* Full height */
    /* height: 100%; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.the-latest-button{
    display: flex;
    justify-content: center;
    font-style: normal;
    flex-wrap: nowrap;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.The-latest-news>h2{
    margin-bottom: 44px;
}
.the-latest-button button:nth-child(1){
    background: #89CA62;
    color: inherit;
    margin-right: 10px;
    width: 170px;
    height: 55px;
}
.the-latest-button button:nth-child(2){
    background: #14B9D5;
    color: inherit;
    margin-left: 10px;
    width: 170px;
    height: 55px;
}
.Most-popular-posts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #F2F2F2;
    align-items: center;
}
.top{
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
}
.Most-popular-posts-galerey{
    display: flex;
    flex-wrap: wrap;
    writing-mode: vertical-lr;
    align-content: flex-start;
    height: 940px;
}
.Most-popular-posts-galerey>div{
    margin-bottom: 22px;
    margin-right: 15px;
    margin-left: 15px;
    writing-mode: horizontal-tb;
}
.Most-popular-posts-galerey p{
    color: #353A3D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 22px;
    margin-top: -2px;
}
.Our-most-popular-clients{
    display: grid;
    gap: 45px;
    place-content: center;
    height: 598px;

    /* The image used */
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");

    /* Full height */
    /* height: 100%; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Our-most-popular-clients>h2{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
.Our-most-logo>img{
    margin-right: 50px;
}
.Top-rated-hot-news{
    display: grid;
    gap: 50px;
}
.dash{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    text-align: center;
    display: inline-block;
}
.Top-rated{
    display: grid;
    gap: 0px;
    grid-auto-flow: column;
}
.hot-news{
    display: grid;
    grid-template: 
    "Prophecy Prophecy Prophecy Nebula" auto
    "Western Western Meadows Meadows" 416px
    "Wanderlust Wanderlust Sanctuary Sanctuary" 416px
    "Prism Shroud Shroud Shroud" auto
    /312px 302px 277px 277px;
    grid-row-gap: 43px;
    justify-content: center;
}
.hot-news>div{
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.Prophecy{
    grid-area: Prophecy;
    margin-right: 35px;
}
.Nebula{
    grid-area: Nebula;
}
.Western{
    grid-area: Western;
    margin-right: 60px;
}
.Meadows{
    grid-area: Meadows;
}
.Wanderlust{
    grid-area: Wanderlust;
    margin-right: 60px;
}
.Sanctuary{
    grid-area: Sanctuary;
}
.Prism{
    grid-area: Prism;
    margin-right: 35px;
}
.Shroud{
    grid-area: Shroud;
}
.hot-news-text{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 25px;
    justify-content: center;
    
}
.hot-news-text-h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* text-transform: uppercase; */
    color: #353A3D;
    margin-bottom: 15px;
}
.hot-news-text>p{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
}
.hot-news-line{
    display: grid;
    grid-auto-flow: column;
}
.hot-news-img{
    max-width: none;
}
.h3-center{
    text-align: center;
    padding-top: 10px;
}
.footer{
    height: 80px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
}
.footer-logo{
    display: flex;
    align-items: flex-start;
}
.footer-logo-img{
    padding-right: 3px;
}
body, html {
    height: 100%;
}
.hot-news-vertical-text{
    display: grid;
    grid-template-rows: 259px auto;
}
.Most-popular-posts>h2{
    margin: 50px 0;
}