body, html {
    height: 100%;
}
.body{
    max-width: 60%;
    min-width: 110%;
}
.header{
    display: grid;
    height: 700px;
    background: url("../img/background1.jpg");
    box-shadow: inset 0 700px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header::after{
    content: "";
    transform: skewY(7deg);
    width: 50%;
    position: absolute;
    height: 150px;
    top: 630px;
    background-color: #ffffff;
}
.header::before{
    content: "";
    transform: skewY(-7deg);
    width: 50%;
    position: absolute;
    height: 150px;
    top: 630px;
    right: 0;
    background-color: #ffffff;
}
.header-menu{
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 113px;
    margin-top: 30px;
}
.header-menu-ul{
    display: flex;
    justify-content: space-between;
    width: 595px;
}
.header-menu-li>a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #424F57;
    text-transform: uppercase;
}
.header-menu-li:hover{
    color: #14AFCA;
}
.header-text{
    display: grid;
    place-content: center;
    height: 430px;
}
.header-h1{
    font-size: 52px;
    color: #ffffff;
    text-align: center;
}
/* section-what */
.what{
    height: 438px;
    display: grid;
    place-content: center;
}
.what::after{
    content: "";
    transform: skewY(7deg);
    width: 50%;
    position: absolute;
    height: 140px;
    top: 1060px;
    background-color: #ffffff;
}
.what::before{
    content: "";
    transform: skewY(-7deg);
    width: 50%;
    position: absolute;
    height: 140px;
    top: 1060px;
    right: 0;
    background-color: #ffffff;
}
.topic-main{
    display: grid;
    place-content: center;
}
.topic-main-h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    text-align: center;
    text-transform: uppercase;
}
.topic-main-p-greey{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #424F57;
    text-align: center;
}
.topic-main-p-white{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
.what-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #424F57;
    text-align: center;
    width: 992px;
    margin-top: 30px;
}
/* section-companies */
.companies{
    background: url("../img/background2.jpg");
    box-shadow: inset 0 780px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    display: grid;
    place-content: center;
    gap: 50px;
}
.companies-logo{
    display: flex;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
}
.companies-logo-adobe{
    width: 225px;
    height: 99px;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    background-color: #ffffff;
}
.companies-logo-adobe>img{
    align-self: center;
}
/* section-meet-us */
.meet-us{
    height: 790px;
    display: grid;
    place-content: center;
    gap: 40px;
}
.meet-us::after{
    content: "";
    transform: skewY(7deg);
    width: 50%;
    position: absolute;
    height: 140px;
    top: 2650px;
    background-color: #ffffff;
}
.meet-us::before{
    content: "";
    transform: skewY(-7deg);
    width: 50%;
    position: absolute;
    height: 140px;
    top: 2650px;
    right: 0;
    background-color: #ffffff;
}
.meet-us-people{
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 55px;
}
.meet-us-people-foto{
    display: grid;
    place-content: center;
    width: 309px;
    gap: 20px;
}
.meet-us-people-foto-p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #424F57;
    text-align: center;
}
.meet-us-people-foto-img{
    justify-self: center;
}
/* section-testimonials */
.testimonials{
    background: url("../img/background3.jpg");
    box-shadow: inset 0 700px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: grid;
    place-content: center;
    gap: 30px;
}
.testimonials::after{
    content: "";
    transform: skewY(7deg);
    width: 50%;
    position: absolute;
    height: 140px;
    top: 3350px;
    background-color: #ffffff;
}
.testimonials::before{
    content: "";
    transform: skewY(-7deg);
    width: 50%;
    position: absolute;
    height: 140px;
    top: 3350px;
    right: 0;
    background-color: #ffffff;
}
.testimonials-text{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color: #D3CCCC;
    text-align: center;
    width: 1000px;
    margin-top: 20px;
}
.testimonials-text-name{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    text-align: end;
    padding-right: 100px;
    color: #ffffff;
}
/* sector-topic-main */
.why{
    height: 570px;
    display: grid;
    place-content: center;
    gap: 40px;
}
.why-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #424F57;
    text-align: center;
    margin-bottom: 10px;
}
/* footer */
.footer{
    height: 140px;
    display: grid;
    justify-content: center;
}
.footer-div{
    width: 416px;
    display: flex;
    flex-wrap: wrap;
}
.footer-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}
.footer-text-span{
    font-weight: bold;
}