*::before;
*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border: 0 none;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.background-padge{
    background: url(../img/Фон.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
   
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
}
.header>h1{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 800px;
}
.header-icons{
    text-align: center;
}
.header-icons-1{
    background: url(../img/ic_caledar.png);
    display: inline-block;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}
.header-icons-2{
    background: url(../img/ic_forum1.png);
    display: inline-block;   
    background-repeat: no-repeat;
    width: 28px;
    height: 20px;
    margin-left: 20px;
}
.header-icons-2:hover{
    background: url(../img/ic_forum.png);
}
.header-icons-3{
    background: url(../img/ic_journey1.png);
    display: inline-block;   
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.header-icons-3:hover{
    background: url(../img/ic_journey.png);
}
.header-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 38px;
}
.header-text>span:hover,.header>h1:hover{
    color: #3CB878;
}
.header-text>span{
    margin-right: 9px;
    margin-left: 4px;
    text-transform: capitalize;
}
.background-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}
.background-main-center{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.76);
    padding: 31px 60px;
}
.main-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.main-title>h2{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #434343;
}
.main-title>h2::before{
    content: " ";
    display: inline-block;
    /* vertical-align: middle; */
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-left: -60px;
    margin-right: 43px;
}
.main-title>a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #3CB878;
}
.main-button-socialnetwork{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.google{
    background: #DF4A32;
    width: 160px;
    height: 48px;
    color: #FFFFFF;
    margin-left: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}
.main-button-socialnetwork img{
    border-right: 1px solid #500A162F;
    padding:2px 9px 2px 0;
}
.facebook{
    background: #305DB8;
    width: 160px;
    height: 48px;
    color: #FFFFFF;
    margin-right: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}
.or{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    overflow: hidden;
    margin-top: 21px;
    color: #848484;
}
.or::before,
.or::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    border: solid #FFF;
    border-width: 0 13px;
}
.or::before {
    margin-left: -100%;
}
.or::after {
    margin-right: -100%;
}
fieldset{
    border: none;
}
legend{
    display: none;
}
.check-in>input{
    width: 100%;
    margin-top: 9px;
    height: 46px;
    padding-left: 18px;
    color: #BEBEBE;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}
.input-name{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    margin-bottom: 7px;
}
.input-name::placeholder{
    color: #434343;
}
#Conditions{
    width: 20px;
    height: 20px;
    color: #3CB878;
    margin-top: 19px;
}
.checkbox{
    color: #434343;
    font-size: 14px;
    padding-left: 10px;
}
.checkbox>span{
    color: #3CB878;
}
.button_green{
    width: 100%;
    height: 46px;
    background: #3CB878;
    border-radius: 4px;
    margin-top: 26px;
    font-size: 16px;
    color: #FFFFFF;
}