.menu a {
    color: #16A085;
    font: 18px bold normal 'Montserrat';
    line-height: 68px; 
    margin: 0 33px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.picture {
    display: flex;
    justify-content: center;
    width: 100%;
  
}

.picture img { 
    height: 100%;
    width: 100%;
} 

.heading {
    color: #373737;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}

.but {
    display: flex;
    justify-content: center;
    margin: 41px 0;
}

.but button {
    color:  #FFFFFF;
    background: #16A085;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    width: 195px;
    height: 54px; 
    text-transform: uppercase;
}

.foter {
    text-align: right;
    margin: 65px 79px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.all {
    width: 1280px;
}

body{
    font-family: 'Montserrat';
}